.hero{
    color: $primary-color;
    padding: 9rem 0;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;


    &__button{
        background: $color-white;
        color: $color-black;
        font-weight: 600;
        border-color: $color-white;

        &:hover{
            border-color: $color-white;
        }
        a{
            background: $color-white !important;
            color: $color-black !important;
            text-decoration: none;

            &:hover{
                background-color: $color-white !important;
            }
        }
        
    }

    .btn-secondary{
        &:hover{
            background-color: $color-white !important;
            border-color: $color-white;
        }
    }

}
