.hero{
    color: $primary-color;
    padding: 7rem 0;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 67px;


    &__button{
        background: $color-white;
        color: $color-black;
        font-weight: 600;
        border-color: $color-white;

        &:hover{
            border-color: $color-white;
        }
        a{
            background: $color-white !important;
            color: $color-black !important;
            text-decoration: none;

            &:hover{
                background-color: $color-white !important;
            }
        }
        
    }

    .btn-secondary{
        &:hover{
            background-color: $color-white !important;
            border-color: $color-white;
        }
    }

}
