.navbar{
    background: $color-black !important;

    .logo{
        font-size: 25px;
        font-weight: bolder;
        color: $primary-color;
    }

    .navbar-toggler{
        background-color: $color-white;
    }
    .navbar-brand{

        & a:hover{
            text-decoration: none;
           
        }
        
    }
    
    .nav-link{
        color: $primary-color !important;
    }
    
    a{
        color: $primary-color !important;
        cursor: pointer;
    }
    li {
        
        &:hover{
            font-weight: 600;
           
        }
    }
}

